*{
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #00000044;
    perspective: 1200px;
}
#cube{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    transform-style: preserve-3d;
}
#cube:hover{
    cursor: pointer;
}

.brick{
    position: absolute;
    transform-style: preserve-3d;
    width: 100px;
    height: 100px;
}

.brick:nth-child(1){
    transform: translateX(-106px) translateY(106px) translateZ(106px);
}
.brick:nth-child(2){
    transform: translateX(0.1px) translateY(106px) translateZ(106px);
}
.brick:nth-child(3){
    transform: translateX(106px) translateY(106px) translateZ(106px);
}
.brick:nth-child(4){
    transform: translateX(-106px) translateY(106px) translateZ(0.1px);
}
.brick:nth-child(5){
    transform: translateX(0.1px) translateY(106px) translateZ(0.1px);
}
.brick:nth-child(6){
    transform: translateX(106px) translateY(106px) translateZ(0.1px);
}
.brick:nth-child(7){
    transform: translateX(-106px) translateY(106px) translateZ(-106px);
}
.brick:nth-child(8){
    transform: translateX(0.1px) translateY(106px) translateZ(-106px);
}
.brick:nth-child(9){
    transform: translateX(106px) translateY(106px) translateZ(-106px);
}
.brick:nth-child(10){
    transform: translateX(-106px) translateY(0.1px) translateZ(106px);
}
.brick:nth-child(11){
    transform: translateX(0.1px) translateY(0.1px) translateZ(106px);
}
.brick:nth-child(12){
    transform: translateX(106px) translateY(0.1px) translateZ(106px);
}
.brick:nth-child(13){
    transform: translateX(-106px) translateY(0.1px) translateZ(0.1px);
}
.brick:nth-child(14){
    transform: translateX(0.1px) translateY(0.1px) translateZ(0.1px);
}
.brick:nth-child(15){
    transform: translateX(106px) translateY(0.1px) translateZ(0.1px);
}
.brick:nth-child(16){
    transform: translateX(-106px) translateY(0.1px) translateZ(-106px);
}
.brick:nth-child(17){
    transform: translateX(0.1px) translateY(0.1px) translateZ(-106px);
}
.brick:nth-child(18){
    transform: translateX(106px) translateY(0.1px) translateZ(-106px);
}
.brick:nth-child(19){
    transform: translateX(-106px) translateY(-106px) translateZ(106px);
}
.brick:nth-child(20){
    transform: translateX(0.1px) translateY(-106px) translateZ(106px);
}
.brick:nth-child(21){
    transform: translateX(106px) translateY(-106px) translateZ(106px);
}
.brick:nth-child(22){
    transform: translateX(-106px) translateY(-106px) translateZ(0.1px);
}
.brick:nth-child(23){
    transform: translateX(0.1px) translateY(-106px) translateZ(0.1px);
}
.brick:nth-child(24){
    transform: translateX(106px) translateY(-106px) translateZ(0.1px);
}
.brick:nth-child(25){
    transform: translateX(-106px) translateY(-106px) translateZ(-106px);
}
.brick:nth-child(26){
    transform: translateX(0.1px) translateY(-106px) translateZ(-106px);
}
.brick:nth-child(27){
    transform: translateX(106px) translateY(-106px) translateZ(-106px);
}




.field{
    position: absolute;
    background-color: white;
    border-radius: 10px;
    width: 100px;
    height: 100px;
    outline: 3px solid white;
    transform-style: preserve-3d;
}

.field:nth-child(1){
    transform: rotateY(0deg) translateZ(52px);
}
.field:nth-child(2){
    transform: rotateY(90deg) translateZ(52px);
}
.field:nth-child(3){
    transform: rotateY(180deg) translateZ(52px);
}
.field:nth-child(4){
    transform: rotateY(270deg) translateZ(52px);
}
.field:nth-child(5){
    transform: rotateX(90deg) rotateZ(0deg) translateZ(52px);
}
.field:nth-child(6){
    transform: rotateX(-90deg) rotateZ(0deg) translateZ(52px);
}

.red{
    background-color: red;
}
.green{
    background-color: green;
}
.blue{
    background-color: blue;
}
.yellow{
    background-color: yellow;
}
.orange{
    background-color: orange;
}
.black{
    background-color: black;
}

.btn{
    position: absolute;
    background-color: lightgreen;
    width: 50px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 10px;
    border: 1px solid black;
    user-select: none;
}
.btn:hover{
    cursor: pointer;
}
.btn:nth-child(2){
    right: 25vw;
    top: 45vh;
}
.btn:nth-child(3){
    right: 25vw;
    top: 55vh;
}
.btn:nth-child(4){
    left: 25vw;
    top: 45vh;
}
.btn:nth-child(5){
    left: 25vw;
    top: 55vh;
}
.btn:nth-child(6){
    top: 100px;
    left: 45vw;
}
.btn:nth-child(7){
    top: 100px;
    left: 55vw;
}
.btn:nth-child(8){
    bottom: 100px;
    left: 45vw;
}
.btn:nth-child(9){
    bottom: 100px;
    left: 55vw;
}
.btn:nth-child(10){
    bottom: 150px;
    left: 55vw;
}
.btn:nth-child(11){
    bottom: 150px;
    left: 45vw;
}
.btn:nth-child(12){
    top: 150px;
    left: 55vw;
}
.btn:nth-child(13){
    top: 150px;
    left: 45vw;
}